<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Page</title>
  </head>
  <body>
    
<section >
  <div >
    <div >
	<center><h1> Login Page</h1></center>

      <div >
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form1Example13" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example23">Password</label>
          </div>



          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
		  <br>
		  <br>
		 <p>Do not have an account? Register <a href="/register">here</a></p>

        </form>
      </div>
    </div>
  </div>
</section>
  </body>
</html>

