<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registration Page</title>
  </head>
  <body>
    
<section >
  <div >
    <div >
	<center><h1> Registration Page</h1></center>
      <div >
      </div>
      <div >
        <form action="/register_db" method="post">
		         <!-- Name input -->
          <div >
            <input type="text" id="username" name="username"  />
            <label class="form-label" for="username">Name</label>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" name="email"  />
            <label class="form-label" for="email">Email address</label>
          </div>
          <!-- Password input -->
          <div >
            <input type="password" id="password" name="password"  />
            <label class="form-label" for="password">Password</label>
          </div>
          <!-- Submit button -->
          <button type="submit" >Register</button>
		  <br>
		  <br>
		 <p>Already have an account? Login <a href="/">here</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
  </body>
</html>

